/.DS_Store
/.localized
/.vscode
/Progect
/exception
/m
/mysql-connector-j-8.2.0
/obj
/~$1.docx
/~$boratornaya_rabota_4_testirovanie.docx
/~$Отчёт.docx
/Лабораторная работа №5.docx
/Новая папка
/Новая папка 2
/Щапова Екатерина .pptx
/ггг.docx